/* Float four columns side by side */
.column {
  float: left;
  width: 31.5%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 15px -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 1px 1px 5px 1px black;
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
