.com{
  text-align: center;
  float:left;
  width: 30%;
  /* padding: 50px; */
}

.com2{
  float:left;
  width: 60%;
  /* padding: 50px; */
}

.clearfix::after {
    content: "";
    clear: both;
    /* display: block; */
}

.column {
    float: left;
    padding: 20px;
}
