.bg{
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 100%;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* background-repeat: repeat; */
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

}

.bg2{
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  /* Set up proportionate scaling */
  width: 80%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

}

body {
  width: 80%;
  margin: 0 auto;
  border: 1px solid green;
}

.mainbody{
  border: 1px solid pink;
  float: none;
  position: sticky;
	font-size: 1vw;
  /* padding-left: 10%; */
  /* padding-right: 1px; */
  height:auto;
}

/* nav bar */
nav {
 min-width: 100%;
}
nav ul {
  /* display:inline-block; */
	list-style-type: none;
	background-color: #333;
	overflow: hidden;
	box-shadow: 0px 0px 30px 4px black;
  text-align: center;

}

nav a{
	padding:1% 0.3%;
  display:inline-block;
  min-width: 11%;
	color: white;
	text-decoration: none;
	font-size: 12px;
	text-align: center;
	float:left;
	letter-spacing: 2px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.active {
    background-color: red;
}

li a:hover {
    background-color: #111;
}
/* end nav bar */

.title {
  margin: 0px;
  font-size: 50px;
}

/* For the search bar */
.topBar {
  width:100%;
  display: block;
  overflow: auto;
  position:relative;
}

.left {
	float: left;
}
.right {
  position:absolute;
  bottom: 20%;
  right: 1%;
}
/* End search bar */
