{% extends "sites/base.html" %}
{% block content %}
 <p> Company </p>
 {% for company in data %}
     <article class="media content-section">
       <img class="rounded-circle article-img" src="{{ company.author.profile.image.url }}">
       <div class="media-body">
         <div class="article-metadata">
           <a class="mr-2" href="{% url 'user-company' company.author.username %}">{{ company.author }}</a>
           <small class="text-muted">{{ company.date_posted|date:"F d, Y" }}</small>
         </div>
         <h2><a class="article-title" href="{% url 'company-detail' company.id %}">{{ company.companyName }}</a></h2>
         <p class="article-content">{{ company.description }}</p>
       </div>
     </article>
 {% endfor %}
{% endblock content %}
