{% extends "sites/base.html" %}
{% block content %}
<h1>Companies</h1>
  {% for company in data %}
     <article class="media content-section">
       <img class="rounded-circle article-img" src="{{ company.author.profile.image.url }}">
       <div class="media-body">
         <div class="article-metadata">
           <a class="mr-2" href="{% url 'user-company' company.author.username %}">{{ company.author }}</a>
           <small class="text-muted">{{ company.date_posted|date:"F d, Y" }}</small>
         </div>
         <h2><a class="article-title" href="{% url 'company-detail' company.id %}">{{ company.companyName }}</a></h2>
         <img class="rounded-circle account-img" src="{{ company.image.url }}">
         <p class="article-content">Web Site: {{ company.website }}</p>
         <p class="article-content">Number of Employees: {{ company.numEmployees }}</p>
         <p class="article-content">Industry: {{ company.industry }}</p>
         <p class="article-content">Specialist Area: {{ company.specialistArea }}</p>
         <p class="article-content">Type of Business: {{ company.typeOfBusiness }}</p>
         <p class="article-content">Description: {{ company.description }}</p>

         <br>
         <h5> Contact:</h5>
         <p class="article-content">Contact Name: {{ company.contactName }}</p>
         <p class="article-content">Company Email: {{ company.email }}</p>
         <p class="article-content">Phone Number: {{ company.phoneNumber }}</p>

       </div>
     </article>
 {% endfor %}
{% endblock content %}
