{% extends "sites/base.html" %}

{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-company' object.author.username %}">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
        {% if object.author == user %}
        <div>
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'company-update' object.id %}">Update</a>
          <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'company-delete' object.id %}">Delete</a>
        </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ object.companyName }}</h2>
      {% if object.image %}
        <img class="rounded-circle account-img" src="{{ object.image.url }}">
      {% endif %}
      <p class="article-content">Web Site: {{ object.website }}</p>
      <p class="article-content">Number of Employees: {{ object.numEmployees }}</p>
      <p class="article-content">Industry: {{ object.industry }}</p>
      <p class="article-content">Specialist Area: {{ object.specialistArea }}</p>
      <p class="article-content">Type of Business: {{ object.typeOfBusiness }}</p>
      <p class="article-content">Description: {{ object.description }}</p>

      <br>
      <h5> Contact:</h5>
      <p class="article-content">Name: {{ object.contactName }}</p>
      <p class="article-content">Email: {{ object.email }}</p>
      <p class="article-content">Phone Number: {{ object.phoneNumber }}</p>
    </div>
  </article>
{% endblock %}
