{% extends "sites/base.html" %}

{% block content %}

<h2 class="border-bottom mb-3">Companies in Palmerston North</h2>
<!-- <div class="row"> -->
  {% for company in data %}

  {% if company.is_Expired == False %}
    <!-- <div class="col-md-6"> -->
     <article class="media content-section">
       <img class="rounded-circle article-img" src="{{ company.author.profile.image.url }}">
       <div class="media-body">
         <div class="article-metadata">
           <a class="mr-2" href="{% url 'user-company' company.author.username %}">{{ company.author }}</a>
           <small class="text-muted">{{ company.date_posted|date:"F d, Y" }}</small>
         </div>
         <h2><a class="article-title" href="{% url 'company-detail' company.id %}">{{ company.company_Name }}</a></h2>
         <img class="listing-img" src="{{ company.image.url }}">
         <p class="article-content "><b>Web Site:</b> {{ company.website }}</p>
         <p class="article-content "><b>Number of Employees:</b> {{ company.number_Of_Employees }}</p>
         <p class="article-content "><b>Industry:</b> {{ company.industry }}</p>
         <p class="article-content "><b>Specialist Area:</b> {{ company.specialist_Area }}</p>
         <p class="article-content "><b>Type of Business:</b> {{ company.type_Of_Business }}</p>
         {% if company.takes_On_Summer_Students == Yes %}
          <p class="article-content "><b>We take summer students</b></p>
         {% endif %}
         <br>
         <p class="article-content "><b>Description:</b> {{ company.description }}</p>

         <br>
         <h5> Contact:</h5>
         <p class="article-content "><b>Contact Person:</b> {{ company.contact_Name }}</p>
         <p class="article-content "><b>Company Email:</b> {{ company.email }}</p>
         <p class="article-content "><b>Phone Number:</b> {{ company.phone_Number }}</p>
       </div>
     </article>
     <!-- </div> -->
 {% endif %}
 {% endfor %}
 <!-- </div> -->
{% endblock content %}
