{% extends "sites/base.html" %}

{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-event' object.author.username %}">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small> <br/>
        <small class="text-muted">LastModified: {{ object.last_updated }}</small>
        {% if object.author == user %}
        <div>
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'event-update' object.id %}">Update</a>
          <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'event-delete' object.id %}">Delete</a>
        </div>
        {% endif %}

      </div>
      <p class="article-content"><b>Event Name:</b> {{ object.event_Name }}</p>
      <p class="article-content"><b>Time:</b> {{ object.event_Time_dd_mm_yyyy }}</p>
      <p class="article-content"><b>Location:</b> {{ object.event_Location }}</p>
      <p class="article-content"><b>Registration Cost:</b> ${{ object.registration_Cost }}</p>
      <p class="article-content"><b>Website: </b><a href="{{ object.event_Website }}">{{ object.event_Website }}</a></p>
      <p class="article-content"><b>Description: </b>{{ object.event_Description }}</p>
    </div>
  </article>
{% endblock %}
