{% extends "sites/base.html" %}
{% block content %}
<h2 class="border-bottom mb-3">Events in Palmerston North</h2>
 {% for event in data %}
     <article class="media content-section">
       <img class="rounded-circle article-img" src="{{ event.author.profile.image.url }}">
       <div class="media-body">
         <div class="article-metadata">
           <a class="mr-2" href="{% url 'user-event' event.author.username %}">{{ event.author }}</a>
           <small class="text-muted">{{ event.date_posted|date:"F d, Y" }}</small>
         </div>
         <h2><a class="article-title" href="{% url 'event-detail' event.id %}">{{ event.event_Name }}</a></h2>
         <!-- <h2 class="article-title">{{ object.image.url }}</h2>
         <img class="rounded-circle account-img" src="{{ event.image.url }}"> -->
         <p class="article-content">Event Name: {{ event.event_Name }}</p>
         <p class="article-content">Time: {{ event.event_Time_dd_mm_yyyy }}</p>
         <p class="article-content">Location: {{ event.event_Location }}</p>
         <p class="article-content">Registration Cost: ${{ event.registration_Cost }}</p>
         <p class="article-content">Website: {{ event.event_Website }}</p>
         <p class="article-content">Description: {{ event.event_Description }}</p>
       </div>
     </article>
 {% endfor %}
{% endblock content %}
