{% extends "sites/base.html" %}
{% block content %}
       <!-- Team Members Row -->

    <div class="col-lg-12">
      <h1>About Us</h1>
    </div>
    <div class="wrapper">
	    <div class="container">

	    <p>
	    	We are a group of enthusiast professionals with a background in IT or other areas whose mission is to connect up the Tech/IT professions in Palmerston North and start collaborating more together.
	    </p>

	    <p>
			The initiatives are still quite new and we are inviting you to join us!
		</p>

		<p>
			The purpose of this website is to showcase the Tech and IT-related firms in town and to collate and promote tech-related events happening around our city.
		</p>

		<p>
			Did you know there are over 70 local companies in the Tech/IT space?
		</p>

		<p>
			We’d love to list your business!
		</p>

		<p>
			There are quite a number of technology companies and tech-related events in Palmerston North.
		</p>

		<ul>
	  		<li>Local event listings from various groups in the Manawatu</li>
	  		<li>Links to those groups so you can find things that interest you</li>
	  		<li>Local companies including technology stacks and areas of interest</li>
	  		<li>Local consultants and people with specific areas of expertise</li>
		</ul>

		<br>

		<div class="col-lg-12">
	        <h2 class="my-4">Draft Disclaimer</h2>
	    </div>

		<p>
			TechPalmy is a free service. The information provided on this website is designed to give helpful information on the subjects discussed.
		</p>

		<p>
			References are provided for informational purpose only and do not constitute an endorsement of any websites or other sources.
		</p>

		<p>
			Soon there will be a form to request the list of your company/professional profile. The content of these profiles is sole responsibility of the relative applicant.
		</p>

		<p>
			The applicant must have its headquarters or branch in Palmerston North, New Zealand.
		</p>
		</div>
	</div>
    <!-- /.container -->
{% endblock content %}
