{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h3>Contact Us Message: </h3>
        <p class="article-content"><b>Name:</b> {{ all_items_feed.name }}</p>
        <p class="article-content"><b>Email:</b> {{ all_items_feed.email }}</p>
        <p class="article-content"><b>Subject:</b> {{ all_items_feed.subject }}</p>
        <p class="article-content"><b>Message:</b> {{ all_items_feed.message }}</p>
    </body>
</html>
