{% extends "sites/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

 <!-- Container (Contact Section) -->

 <div class="content-section">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class="form-group">
             <legend class="border-bottom mb-4"> Contact Us </legend>
        {{ c_form|crispy }}
      </fieldset>
      <div class="form=group">
        <button class="btn btn-outline-info" type="submit"> Send </button>
      </div>
    </form>
 </div>

{% endblock content %}

<!-- <p><em>We love tech, do you? share your thoughts</em></p>
<p>Fan? Drop a note.</p>
<p><span class="glyphicon glyphicon-map-marker"></span>NZ palmerston North</p>
<p><span class="glyphicon glyphicon-phone"></span>Phone: 06 123456789</p>
<p><span class="glyphicon glyphicon-envelope"></span>Email: pnorth_chair@itp.nz</p> -->
