{% extends "sites/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

 <!-- Container (Contact Section) -->



 <div class="content-section">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class="form-group">
             <legend class="border-bottom mb-4"> Contact Us </legend>
            <p><b>Phone:</b> 06 123456789</p>
            <p><b>Email:</b> pnorth_chair@itp.nz</p>
        {{ c_form|crispy }}
      </fieldset>
      <div class="form=group">
        <button class="btn btn-outline-info" type="submit"> Send </button>
      </div>
    </form>
 </div>

{% endblock content %}


