{% extends "sites/base.html" %}

{% block content %}
<h4>Welcome to Tech Palmy's homepage</h4>
  {% for item in data %}
    {% if item.type == 'job' and item.is_Expired == False %}
      <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ item.author.profile.image.url }}">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-jobs' item.author.username %}">{{ item.author }}</a>
            <small class="text-muted">Job - Posted: {{ item.date_posted|date:"F d, Y" }}</small>
          </div>
          <h2><a class="article-title" href="{% url 'job-detail' item.id %}">{{ item.title }}</a></h2>
          <p class="article-content"><b>Category:</b> {{ item.category }}</p>
          <p class="article-content"><b>Location:</b> {{ item.location }}</p>
          <p class="article-content"><b>Payrate:</b> ${{ item.pay_Rate }}</p>
          <p class="article-content"><b>Reference:</b> #{{ item.reference_Number }}</p>
          <p class="article-content"><b>Summary:</b><br/>{{ item.summary }}</p>
          <p class="article-content"><b>Description:</b><br/>{{ item.description }}</p>
          <p class="article-content"><b>Phone:</b> {{ item.phone_Number }}</p>
          <p class="article-content"><b>Company:</b> {{ item.company }}</p>
          <p class="article-content"><b>Instructions:</b> {{ item.instructions }}</p>
        </div>
      </article>
    {% elif item.type == 'company' and item.is_Expired == False %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ item.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'user-company' item.author.username %}">{{ item.author }}</a>
              <small class="text-muted">Company - Posted: {{ item.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'company-detail' item.id %}">{{ item.company_Name }}</a></h2>
            <img class="listing-img" src="{{ item.image.url }}">
            <p class="article-content"><b>Web Site:</b><a href="{{ item.website }}">{{ item.website }}</a></p>
            <p class="article-content"><b>Number of Employees:</b> {{ item.number_Of_Employees }}</p>
            <p class="article-content"><b>Industry:</b> {{ item.industry }}</p>
            <p class="article-content"><b>Specialist Area:</b> {{ item.specialist_Area }}</p>
            {% if item.takes_On_Summer_Students == True %}
             <p class="article-content "><b>We take summer students</b></p>
            {% endif %}
            <p class="article-content"><b>Description:</b> {{ item.description }}</p>

            <br>
            <h5> Contact:</h5>
            <p class="article-content"><b>Contact Name:</b> {{ item.contact_Name }}</p>
            <p class="article-content"><b>Company Email:</b> {{ item.email }}</p>
            <p class="article-content"><b>Phone Number:</b> {{ item.phone_Number }}</p>
          </div>
        </article>
    {% elif item.type == 'group' and item.is_Expired == False %}
      <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ item.author.profile.image.url }}">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-group' item.author.username %}">{{ item.author }}</a>
            <small class="text-muted">Group - Posted: {{ item.date_posted|date:"F d, Y" }}</small>
          </div>
          <h2><a class="article-title" href="{% url 'group-detail' item.id %}">{{ item.group_Name }}</a></h2>
          <img class="listing-img" src="{{ item.image.url }}">
          <p class="article-content"><b>Description:</b> {{ item.description }}</p>
          <p class="article-content"><b>Location:</b> {{ item.location }}</p>

        </div>
      </article>
    {% elif item.type == 'event' and item.is_Expired == False %}
      <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ item.author.profile.image.url }}">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-event' item.author.username %}">{{ item.author }}</a>
            <small class="text-muted">Event - Posted: {{ item.date_posted|date:"F d, Y" }}</small>
          </div>
          <h2><a class="article-title" href="{% url 'event-detail' item.id %}">{{ item.event_Name }}</a></h2>
          <p class="article-content"><b>Event Name:</b> {{ item.event_Name }}</p>
          <p class="article-content"><b>Location:</b> {{ item.event_Location }}</p>
          <p class="article-content"><b>Registration Cost:</b> ${{ item.registration_Cost }}</p>
          <p class="article-content"><b>Website:</b><a href="{{ item.event_Website }}">{{ item.event_Website }}</a></p>
          <p class="article-content"><b>Description:</b> {{ item.event_Description }}</p>
        </div>
      </article>
    {% elif item.type == 'consultant' and item.is_Expired == False %}
      <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ item.author.profile.image.url }}">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-consultant' item.author.username %}">{{ item.author }}</a>
            <small class="text-muted">Consultant - Posted: {{ item.date_posted|date:"F d, Y" }}</small>
          </div>
          <h2><a class="article-title" href="{% url 'consultant-detail' item.id %}">{{ item.consultant_Name }}</a></h2>
          <img class="listing-img" src="{{ item.image.url }}">
          <p class="article-content"><b>Specialist Area:</b> {{ item.specialist_Area }}</p>
          <p class="article-content"><b>Description:</b> {{ item.description }}</p>

          <p class="article-content"><b>Email:</b> {{ item.email }}</p>
          <p class="article-content"><b>Contact Number:</b> {{ item.phone_Number }}</p>
          <p class="article-content"><b>Website:</b><a href="{{ item.website }}">{{ item.website }}</a></p>
        </div>
        </article>
    {% endif %}
  {% endfor %}


  {% if is_paginated %}

    {% if page_obj.has_previous %}
      <a class="btn btn-outline-info mb-4" href="?page=1"> First </a>
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}"> Previous </a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <a class="btn btn-info mb-4" href="?page={{ num }}"> {{ num }} </a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn btn-outline-info mb-4" href="?page={{ num }}"> {{ num }} </a>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}"> Next </a>
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}"> Last </a>
    {% endif %}

  {% endif %}

{% endblock %}
