{% extends "sites/base.html" %}

{% block content %}
  {% for item in data %}
    {% if item.type == 'job' %}
      {% if item.is_Expired == False %}
      <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ item.author.profile.image.url }}">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-jobs' item.author.username %}">{{ item.author }}</a>
            <small class="text-muted">{{ item.date_posted|date:"F d, Y" }}</small>
          </div>
          <h2><a class="article-title" href="{% url 'job-detail' item.id %}">{{ item.title }}</a></h2>
          <p class="article-content">Category: {{ item.category }}</p>
          <p class="article-content">Location: {{ item.location }}</p>
          <p class="article-content">Payrate ${{ item.payrate }}</p>
          <p class="article-content">Reference #{{ item.referencenumber }}</p>
          <p class="article-content">Summary<br/>{{ item.summary }}</p>
          <p class="article-content">Description<br/>{{ item.description }}</p>
          <p class="article-content">Phone: {{ item.phonenumber }}</p>
          <p class="article-content">Company: {{ job.company }}</p>
          <p class="article-content">Instructions: {{ item.instructions }}</p>
        </div>
      </article>
      {% endif %}
    {% else %}
      <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ item.author.profile.image.url }}">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-company' item.author.username %}">{{ item.author }}</a>
            <small class="text-muted">{{ item.date_posted|date:"F d, Y" }}</small>
          </div>
          <h2><a class="article-title" href="{% url 'company-detail' item.id %}">{{ item.companyName }}</a></h2>
          <h2 class="article-title">{{ object.image.url }}</h2>
          <img class="rounded-circle account-img" src="{{ item.image.url }}">
          <p class="article-content">Contact Name: {{ item.contactName }}</p>
          <p class="article-content">Company Email: {{ item.email }}</p>
          <p class="article-content">Phone Number: {{ item.phonenumber }}</p>
          <p class="article-content">Web Site:{{ item.website }}</p>
          <p class="article-content">Number of Employees: {{ item.numEmployees }}</p>
          <p class="article-content">Industry: {{ item.industry }}</p>
          <p class="article-content">Specialist Area: {{ item.specialistArea }}</p>
          <p class="article-content">Type of Business: {{ item.typeOfBusiness }}</p>
          <p class="article-content">Description: {{ item.description }}</p>
        </div>
      </article>

    {% endif %}
  {% endfor %}

{% endblock %}
