<!-- sites/templates/about.html -->
<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <title>Companies</title>
    <link rel="stylesheet" href="{% static 'css/StyleSheet.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
</head>

<body>
    <img src="{% static "css/images/background.jpg" %}" alt="My image" class="bg">
    <img src="{% static "css/images/background1.jpg" %}" alt="My image" class="bg2">

    <div class="mainbody">
      <div class="topBar">
        <div class="left">
          <p class="title">
              TechpalmyNZ
          </p>
        </div>
        <div class="right">
          <input type="text" placeholder="Search...">
        </div>
      </div>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a class="active" href="/Companies/">Companies</a></li>
      <li><a href="/Consultants/">Consultants</a></li>
      <li><a href="/Groups/">Groups</a></li>
      <li><a href="/Education/">Education</a></li>
      <li><a href="/Events/">Events</a></li>
      <li><a href="/Jobs/">Jobs</a></li>
      <li><a href="/AboutUs/">About Us</a></li>
    </ul>
  </nav>
  <div class="clearfix">
  <div class="column com" >
  <p>
    Advantage Computers Ltd
  </p>
  <img src="{% static "css/images/ScreenShot_9.png" %}" alt="My image">
  </div>
  <div class="column com2" >
    <p>
      "At Advantage, we provide tailored technology solutions for your business."
        We see our clients as our partners and we're big on being proactive. Helping you to eliminate risks to your IT infrastructure and systems to minimise problems and maximise
        your uptime. With more than a decades' experience, we hae the skills, expertise, and capability to help you navigate all aspects of computing technology.
        From helpdesk support to architecture and design, from security risk minimisation to Cloud Computing, our enterprise-level services and solutions will deliver
        real value to your business.

        Advantage provides:
          Managed Security Services.
          Managed It Services.
          Training.

          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
          mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,
          rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
          Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque
          utrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper
          libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero
          venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.
      </p>
  </div>

  <div class="column com" >
  <p>
    Advantage Computers Ltd
  </p>
  <img src="{% static "css/images/ScreenShot_9.png" %}" alt="My image">
  </div>
  <div class="column com2" >
    <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
    mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,
    rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
    Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque
    utrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper
    libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero
    venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget
    bibendum sodales, augue velit cursus nunc, </p>
  </div>

  <div class="column com" >
  <p>
    Advantage Computers Ltd
  </p>
  <img src="{% static "css/images/ScreenShot_9.png" %}" alt="My image">
  </div>
  <div class="column com2" >
    <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
    mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,
    rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
    Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque
    utrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper
    libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero
    venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget
    bibendum sodales, augue velit cursus nunc, </p>
  </div>

  <div class="column com" >
  <p>
    Advantage Computers Ltd
  </p>
  <img src="{% static "css/images/ScreenShot_9.png" %}" alt="My image">
  </div>
  <div class="column com2" >

    <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
    mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,
    rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
    Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque
    utrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper
    libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero
    venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget
    bibendum sodales, augue velit cursus nunc, </p>

  </div>
  </div>


</div>
</body>

</html>
