<!-- sites/templates/about.html -->
<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <title>Jobs</title>
    <link rel="stylesheet" href="{% static 'css/StyleSheet.css' %}">
</head>

<body>
    <h1>Welcome to the Jobs page</h1>

  <nav>
    <ul>
      <li><a class="active" href="/">Home</a></li>
      <li><a class="active" href="/Companies/">Companies</a></li>
      <li><a class="active" href="/Consultants/">Consultants</a></li>
      <li><a class="active" href="/Groups/">Groups</a></li>
      <li><a class="active" href="/Education/">Education</a></li>
      <li><a class="active" href="/Events/">Events</a></li>
      <li><a class="active" href="/Jobs/">Jobs</a></li>
      <li><a class="active" href="/AboutUs/">About Us</a></li>
    </ul>
  </nav>

</body>

</html>
