body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
  margin-bottom: 60px;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
  hyphens: auto;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

/* Additions */

.navbar {
    background-color: #009959;
}

html, body {
  position: relative;
  min-height: 100%;
}
.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
    padding-bottom: 50px;
}

.leftbar{
    width: 22%;
    position: fixed;
    top: 10%;
    left: 7%;
    padding: 8px 0;
}
footer {
  position: fixed;
  line-height: 200%;
  text-align: center;
  bottom: 0px;
  width: 100%;
  color: #FFFFFF;
  height: 70px;
  background-color: #343434;
}
