{% extends "sites/base.html" %}

{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-jobs' object.author.username %}">{{ object.author }}</a>
        <small class="text-muted">Listed: {{ object.date_posted|date:"F d, Y" }}</small> <br/>
        <small class="text-muted">LastModified: {{ object.last_updated }}</small>
        {% if object.author == user %}
        <div>
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'job-update' object.id %}">Update</a>
          <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'job-delete' object.id %}">Delete</a>
        </div>
        {% endif %}

      </div>
      <h2 class="article-title">{{ object.title }}</h2>
      <p class="article-content">Category: {{ object.category }}</p>
      <p class="article-content">Location: {{ object.location }}</p>
      <p class="article-content">Payrate ${{ object.pay_Rate }}</p>
      <p class="article-content">Reference #{{ object.reference_Number }}</p>
      <p class="article-content">Summary<br/>{{ object.summary }}</p>
      <p class="article-content">Description<br/>{{ object.description }}</p>
      <p class="article-content">Phone: {{ object.phone_Number }}</p>
      <p class="article-content">Company: {{ object.company }}</p>
      <p class="article-content">Instructions: {{ object.instructions }}</p>
    </div>
  </article>
{% endblock %}
