{% extends "sites/base.html" %}
{% block content %}
 <h1>Jobs</h1>
 {% for job in data %}
  {% if job.is_expired == false %}
     <article class="media content-section">
       <img class="rounded-circle article-img" src="{{ job.author.profile.image.url }}">
       <div class="media-body">
         <div class="article-metadata">
           <a class="mr-2" href="{% url 'user-jobs' job.author.username %}">{{ job.author }}</a>
           <small class="text-muted">{{ job.date_posted|date:"F d, Y" }}</small>
         </div>
         <h2><a class="article-title" href="{% url 'job-detail' job.id %}">{{ job.title }}</a></h2>
         <p class="article-content">Category: {{ job.category }}</p>
         <p class="article-content">Location: {{ job.location }}</p>
         <p class="article-content">Payrate ${{ job.payrate }}</p>
         <p class="article-content">Reference #{{ job.referencenumber }}</p>
         <p class="article-content">Summary<br/>{{ job.summary }}</p>
         <p class="article-content">Description<br/>{{ job.description }}</p>
         <p class="article-content">Phone: {{ job.phonenumber }}</p>
         <p class="article-content">Company: {{ job.company }}</p>
         <p class="article-content">Instructions: {{ job.instructions }}</p>
       </div>
     </article>
  {% endif %}
 {% endfor %}
{% endblock content %}
