{% extends "sites/base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-3">
            <h3>Subscribe to Newsletters</h3>
            <br>

            <form method="POST"> {% csrf_token %}
                <div class="input-group">
                    {{ s_form }}
                    <span class="input-group-btn">
                        <button class="btn btn-success text-white" type="submit" >Subscribe!</button>
                    </span>
                </div>
            </form>

            <br>
            <a  href="{% url 'unsubscribe' %}">Unsubscribe from Newsletters</a>
        </div>
    </div>
</div>

{% endblock %}
