{% extends "sites/base.html" %}

{% block content %}
<!-- <article class="media content-section"> -->
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <h3 class="text-center">Sign Up for Newsletter</h3>
                <br>
                <form method="POST"> {% csrf_token %}
                    {{ s_form }}
                    <span class="input-group-btn">
                        <button class="btn btn-success text-white" type="submit" >Sign Up!</button>
                    </span>
                </form>
            </div>
        </div>
    </div>
    <br>
    <a  href="{% url 'unsubscribe' %}">Unsubscribe to Newsletters</a>
<!-- </article> -->
{% endblock %}
