{% extends "sites/base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-3">
            <h3>Unsubscribe from Newsletter</h3>
            <br>

            <form method="POST"> {% csrf_token %}
                <div class="input-group">
                    {{ u_form }}
                    <span class="input-group-btn">
                        <button class="btn btn-success text-white" type="submit" >Unsubscribe</button>
                    </span>
                </div>
            </form>

            <br>
            <a  href="{% url 'signup' %}">Subscribe to Newsletters</a>
        </div>
    </div>
</div>

{% endblock %}
