{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <h3 class="text-center">Sign Up for Newsletter</h3>
            <form method="POST"> {% csrf_token %}
                <div class="input-group">
                    {{ form }}
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" >Subscribe</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
