{% extends "sites/base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <h3 class="text-center">Unsubscribe for Newsletter</h3>
            <br>
            <form method="POST"> {% csrf_token %}
                <div class="input-group">
                    {{ u_form }}
                    <span class="input-group-btn">
                        <button class="btn btn-default bg-success text-white" type="submit" >Unsubscribe</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
<br>
<a  href="{% url 'signup' %}">Sign up to Newsletters</a>
{% endblock %}
